.orders-content {
  height: 230px;
  width: 100%;
  border-top: 0.9px solid;
  margin-bottom: 20px;
  border-image: linear-gradient(to left, white, #e0e0e0, white) 1 0;
  padding: 10px;
  display: flex;
}

div.css-1800ka2 {
  width: 200px;
  height: 200px;
}

.recipe-title p {
  font-weight: bolder;
}
.recipe-title {
  margin-bottom: 10px;
}

.recipe-description p {
  font-size: 15px;
}
.recipe-description {
  width: 80%;
}

.recipe-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 60%;
}

.main-box-orders {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-picture-box img {
  height: 100%;
}
.recipe-picture-box {
  display: flex;
  align-items: center;
}

.status-box,
.circles-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  align-content: center;
  text-align: center;
  margin: 10px;
}
.status-box p {
  color: #a6eb3d;
  font-weight: bold;
}

.show-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(230, 149, 0);
  border-color: transparent;
}
.show-recipe:hover {
  cursor: pointer;
}
.show-recipe p {
  color: white;
  font-weight: bolder;
  font-size: 19px;
}
