.arrow {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid white;
  font-size: 0;
  line-height: 0;
  float: left;
}

.box-arrow {
  display: flex;
  justify-content: center;
  margin-top: -2px;
}

.box-tooltip-content {
  width: 100%;
  height: 12rem;
  background-color: white;
  display: flex;
}

.fixed-text {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-box {
  margin-bottom: 2rem;
  width: 50%;
  margin-left: 25%;
}

.new-orders {
  border-right: 1px solid;
  border-image: linear-gradient(to bottom, white, #e0e0e0, white) 1 100%;
  height: 12rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 40px;
  color: orange;
  font-weight: bolder;
}

.novo-pedido {
  font-size: 25px;
  color: orange;
}

div.box .content-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  width: 100%;
}
